// В этом файле должны быть стили для БЭМ-блока page, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

@font-face {
  font-family: SegoeUILight;
  src: url('../fonts/SegoeUI-Light.eot');
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
    url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Light.woff') format('woff'),
    url('../fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SegoeUISemiBold;
  src: url('../fonts/SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
  font-family: SegoeUIRegular;
  src: url('../fonts/SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'),
    url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI.woff') format('woff'),
    url('../fonts/SegoeUI.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
  font-family: SegoeUIBold;
  src: url('../fonts/SegoeUI-Bold.eot');
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
  font-family: SegoeUIItalic;
  src: url('../fonts/SegoeUI-Italic.eot');
  src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
    url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Italic.woff') format('woff'),
    url('../fonts/SegoeUI-Italic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400
}

.text-gray {
  color: #565759;
}

.service-card {
  background: #fff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  padding: 100px 32px 50px 32px;
  margin-bottom: 30px;

  &__title {
    font-size: 22px;
    color: #26292D;
  }

  &__text {
    font-size: 16px;
    color: #565759;
  }
}

.feedback-box {
  background: #FFFFFF;
  border: 4px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 25px;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: $screen-lg) {
    background-image: url(../img/feedback-box-img-01.png), url(../img/feedback-box-img-02.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: 40px;
  }

  &__title {
    font-family: SegoeUIBold, sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #26292D;

    @media (min-width: $screen-md) {
      font-size: 14px;
    }
  }

  &__phone {
    font-family: SegoeUIBold, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #26292D;

    @media (min-width: $screen-md) {
      font-size: 35px;
    }
  }

  &__info {
    font-size: 12px;
    color: #86848A;
    font-family: 'SegoeUILight';
    font-weight: 300;

    @media (min-width: $screen-md) {
      font-size: 16px;
    }
  }
}

.owl-red {

  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      background-color: #DD0324;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#DD0324, 4%);
      }
    }

    .owl-prev {
      left: -24px;
      background-image: url(../img/arl.svg);
    }
    .owl-next {
      right: -24px;
      background-image: url(../img/arr.svg);
    }
  }

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    .owl-dot {

      padding: 8px;
      margin: 5px;

      span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #EBEAEA;
        display: block;
      }

      &.active {
        span {
          background-color: #DD0324;
        }
      }
    }
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: percentage(9 / 16); // по умолчанию ожидается вставка в формате 16/9
  }

  // embed,
  // object,
  iframe,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }



  &--4-3 { // модификатор на случай вставки 4/3

    &::before {
      padding-top: percentage(3 / 4);
    }
  }
}