// В этом файле должны быть стили для БЭМ-блока team-box, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team-box {

  $block-name:                &; // #{$block-name}__element

  background: #F3F5F6;
  padding: 40px 0;

  @media (min-width: $screen-lg) {
    padding: 80px 0;
  }

  &__separator {
    height: 1px;
    background: #E7ECEE;
    margin: 30px 0;
  }

  &__title {

    font-size: 24px;
    color: #26292D;
    font-family: SegoeUIBold;
    text-align: center;
    margin-bottom: 45px;

    @media (min-width: $screen-lg) {
      font-size: 35px;
    }

    &:after {
      content: '';
      display: block;
      width: 70px;
      height: 3px;
      margin: 10px auto 0 auto;
      background-color: #dd0324;
    }
  }

  &__doing {
    @include row;

    .item {
      @include col();
      @include col(lg, 4);
      display: flex;
      align-items: center;

      .icon {
        flex-shrink: 0;
        width: 54px;
        height: auto;
        display: inline-flex;

        img {
          width: 32px;
          height: 32px;
        }
    
        @media (min-width: $screen-md) {
          width: 74px;
          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  &__blockquote {
    background: transparent;
    color: inherit;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }

    span {
      color: #86848A;
      font-size: 14px;
      text-transform: uppercase;
      font-family: SegoeUIBold;
      letter-spacing: 0.25em;
      white-space: nowrap;
      position: relative;
      padding-left: 40px;
      padding-right: 140px;
      margin-top: 15px;
      margin-bottom: 15px;

      @media (min-width: $screen-lg) {
        font-size: 18px;
      }
      
      &:before {
        content: "";
        height: 1px;
        width: 24px;
        background: #86848A;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 13px;
      }
    }

    p {
      font-size: 18px;
      font-family: SegoeUILight;
      margin: 0;
      color: #26292D;

      @media (min-width: $screen-lg) {
        font-size: 35px;
      }
    }
  }

  &__group {
    @include row;
  }

  &__card {
    @include col();
    @include col(lg, 4);
    @include col(md, 6);
    margin-bottom: 15px;
  }

  &__card-inner {
    background: #fff;
    height: 100%;
  }

  &__card-img-wrap {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__card-body {
    padding: 32px;
  }

  &__card-title {
    font-size: 20px;
    color: #26292D;
    font-family: SegoeUIBold;
  }

  &__card-text {
    font-size: 16px;
    color: #565759;
  }

  &__video-wrap {

  }

  &__video-title {
    font-size: 28px;
    font-family: SegoeUILight;
    color: #26292D;
    text-align: center;
  }

  &__video-row {
    @include row;
  }

  &__video-col {
    @include col();
    @include col(lg, 6);
  }
}
